go 1.21.2

use (
	./02-Go-Bases/01-Intro/app
	./02-Go-Bases/03-Functions
	./02-Go-Bases/04-Unit-Testing/app
	./02-Go-Bases/04-Unit-Testing/solutions/1
	./02-Go-Bases/04-Unit-Testing/solutions/2
	./02-Go-Bases/04-Unit-Testing/solutions/3
	./02-Go-Bases/04-Unit-Testing/solutions/4
	./02-Go-Bases/04-Unit-Testing/solutions/5
	./02-Go-Bases/05-Structs
	./02-Go-Bases/05-Structs/solutions/app1
	./02-Go-Bases/06-Interfaces
	./02-Go-Bases/06-Interfaces/solutions/2
	./02-Go-Bases/07-Error-Handling/app
	./02-Go-Bases/07-Error-Handling/app-2
	./02-Go-Bases/07-Error-Handling/solutions/5
	./03-Go-Web/01-Intro/chi
	./03-Go-Web/02-Context
	./03-Go-Web/02-Get
	./03-Go-Web/03-Post/app
	./03-Go-Web/04-Structure/app
	./03-Go-Web/05-Put-Patch-Delete/app
	./03-Go-Web/06-Enviroment-Variables/app
	./03-Go-Web/06-Enviroment-Variables/examples/02-env
	./03-Go-Web/07-Unit-Testing-API/code/movies-testing
	./03-Go-Web/08-Middlewares
	./03-Go-Web/10-Repaso/foods
	./03-Go-Web/10-Repaso/proyect
	./05-Implementation-Storage/01-CRUD
	./06-testing/03-Doubles
	./Playground/t
)
